.menu-title{
    color: red;
    text-align: center;
    border-style: dotted;
    border-width: 5px;
    border-color: blueviolet;
    padding: 5px;
    margin: 5px;
}
.menu{
    border-width: 2px;
    border-color: blue;
    border-style: solid;
    height: 100%;
    margin: 5px;
    padding: 5px;
}